# URI of the Wanchain node
nodeuri: http://localhost:8545

# contracts contains key/value pairs of token symbol and token contract
# address. Token contracts must be present here if you want to query the token
# balance for an address.
contracts:
  WETH: 0x46397994a7e1e926ea0de95557a4806d38f10b0d
